flask
langchain
langchain-google-genai
paddleocr
paddlepaddle
pillow
duckduckgo-search
pydantic
python-dotenv
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
easyocr
langchain-community
google-api-python-client 
google-auth-httplib2 
google-auth-oauthlib
langchain_google_genai